<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EventHub Automation Suite" parallel="${parallel}" thread-count="${thread.count}"
       data-provider-thread-count="${thread.count}" verbose="1">
    <listeners>
        <listener class-name="com.eventhub.automation.listeners.TestLifecycleListener"/>
    </listeners>
    <test name="Cucumber BDD Tests">
        <classes>
            <class name="com.eventhub.automation.runners.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
